# PySpark

In [28]:
import pyspark

### **Pandas **

In [5]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Big data_Apache Spark,PySpark/data.csv")
df.head()

     Type  Flour  Milk  Sugar  Butter  Egg  Baking Powder  Vanilla  salt
0  Muffin     55    28      3       7    5              2        0     0
1  Muffin     47    24     12       6    9              1        0     0
2  Muffin     47    23     18       6    4              1        0     0
3  Muffin     50    25     12       6    5              2        1     0
4  Muffin     55    27      3       7    5              2        1     0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           18 non-null     object
 1   Flour          18 non-null     int64
 2   Milk           18 non-null     int64
 3   Sugar          18 non-null     int64
 4   Butter         18 non-null     int64
 5   Egg            18 non-null     int64
 6   Baking Powder  18 non-null     int64
 7   Vanilla        18 non-null     int64
 8   salt           18 non-null     int64
dtypes: int64(8), object(1)
memory usage: 1.4+ KB

In [17]:
from pyspark.sql import SparkSession

# **Building a Session**

In [18]:
spark=SparkSession.builder.appName("Abhisek").getOrCreate()

In [19]:
spark

# **Loading a data **

In [20]:
df_pyspark=spark.read.option("header","true").csv("/content/drive/MyDrive/Big data_Apache Spark,PySpark/data.csv").show()

+-------+-----+----+-----+------+---+-------------+-------+----+
|   Type|Flour|Milk|Sugar|Butter|Egg|Baking Powder|Vanilla|salt|
+-------+-----+----+-----+------+---+-------------+-------+----+
| Muffin|   55|  28|    3|     7|  5|            2|      0|   0|
| Muffin|   47|  24|   12|     6|  9|            1|      0|   0|
| Muffin|   47|  23|   18|     6|  4|            1|      0|   0|
| Muffin|   50|  25|   12|     6|  5|            2|      1|   0|
| Muffin|   55|  27|    3|     7|  5|            2|      1|   0|
| Muffin|   54|  27|    7|     5|  5|            2|      0|   0|
| Muffin|   47|  26|   10|    10|  4|            1|      0|   0|
| Muffin|   50|  17|   17|     8|  6|            1|      0|   0|
| Muffin|   50|  17|   17|    11|  4|            1|      0|   0|
|Cupcake|   39|   0|   26|    19| 14|            1|      1|   0|
|Cupcake|   34|  17|   20|    20|  5|            2|      1|   0|
|Cupcake|   39|  13|   17|    19| 10|            1|      1|   0|
|Cupcake|   38|  15|   23|    15|  8|            0|      1|   0|
|Cupcake|   42|  18|   25|     9|  5|            1|      0|   0|
|Cupcake|   36|  14|   21|    14| 11|            2|      1|   0|
|Cupcake|   38|  15|   31|     8|  6|            1|      1|   0|
|Cupcake|   36|  16|   24|    12|  9|            1|      1|   0|
|Cupcake|   34|  17|   23|    11| 13|            0|      1|   0|
+-------+-----+----+-----+------+---+-------------+-------+----+